:root {
    --navbar-width: 300px
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* The sidebar */
.sidebar {
    width: var(--navbar-width);
    position: fixed;
    overflow-x: hidden;
    background-color: #fbfeff;
}

.sidebar button {
    background-color: #eeeeee;
    cursor: pointer;
    padding: 10px 0px;
    transition: 0.25s;
    width: 100%;
    font-size: 20px;
}

.sidebar div {
    background-color: #eeeeee;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    font-size: 20px;
}

.sidebar button:hover {
    background-color: #d4d4d4;
}

.sidebar button.active {
    background-color: #d4d4d4;
}

.sidebar button:disabled {
    background-color: #9c9c9c;
    cursor: not-allowed;
}


/* Style page content */
.main {
    margin-left: var(--navbar-width);
    width: 100% - var(--navbar-width);
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}