.popup {
    font-size: 15px
}

.popupDeleteButton {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 3px 0px 0px 0px;
    color: #ffffff;
    background: var(--red);
    padding: 5px 10px;
    text-decoration: none;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
}

.popupDeleteButton:hover {
    background: var(--red-hover);
    text-decoration: none;
}

.popupUpdateButton {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 3px 0px 0px 0px;
    color: #ffffff;
    background: var(--green);
    padding: 5px 10px;
    text-decoration: none;
    width: 48%;
    box-sizing: border-box;
    display: inline-block;
}

.popupUpdateButton:hover {
    background: var(--green-hover);
    text-decoration: none;
}

